<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://img-0.journaldunet.com/8Lx3YQeOcn4AzbwIH3NzsuWBc38=/1500x/smart/1502e1bca6ce409c87a54d0da9158267/ccmcms-jdn/16511568.png"
    alt="imagem padrao"

    height="200px">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description" >
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae beatae facilis laudantium. </a></p>
  </div>
</div>
