<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://img-0.journaldunet.com/8Lx3YQeOcn4AzbwIH3NzsuWBc38=/1500x/smart/1502e1bca6ce409c87a54d0da9158267/ccmcms-jdn/16511568.png" cardTitle="Nova atualização do Angula" cardDescrition="Uma nova versão do angular que promete revolucionar todas as versões anteriores !"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card photoCover="https://img-b.udemycdn.com/course/750x422/4471116_dcf0.jpg" cardTitle="Saiu a nova versão do Angular"></app-small-card>
    <app-small-card photoCover="https://i.ytimg.com/vi/B3FotB9495k/maxresdefault.jpg" cardTitle="Novas features nesse frameworke incrivel" ></app-small-card>
    <app-small-card photoCover="https://www.freecodecamp.org/portuguese/news/content/images/2022/04/react-vs-angular.png" cardTitle="Veja a diferença de Angular para React"></app-small-card>
  </div>
</div>
